@media screen and (min-width: 576px) {
  .mb-screen {
    display: none;
  }
  .pc-screen {
    display: flex;
  }
  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
}
@media screen and (max-Width: 575px) {
  .mb-screen .nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;
    position: fixed;
    background-color: white;
  }
  .mb-screen .nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  .mb-screen .nav img {
    width: auto;
    max-width: 30%;
  }
  .mb-screen .image-bg-mb-screen {
    width: 100%;
    margin-top: 69px;
  }
  .mb-screen .menu-expand {
    background-color: white;
    position: fixed;
    gap: 12px;
    width: 100%;
    top: 69px;
    display: none;
    flex-direction: column;
    padding: 8px 0;
    height: auto;
    transition: all 2s;
    z-index: 999;
  }
  .mb-screen .menu-expand div {
    margin-left: 5.5%;
    height: 30px;
  }
  .mb-screen .menu-expand div a {
    text-decoration: none;
    color: #000;
  }
  .mb-screen .menu-expand .user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .mb-screen .main-menu {
    height: 300px;
    width: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: none !important;
  }
  .mb-screen .main-menu .main-menu-items {
    width: 100%;
    height: 30px;
    padding: 5px 0;
    text-align: center;
  }
  .mb-screen .main-menu .main-menu-items:hover {
    background-color: rgb(255, 228, 228);
    color: rgb(196, 0, 0);
    cursor: pointer;
  }
  .mb-screen .main-menu .main-menu-items a {
    text-decoration: none;
    color: #000;
  }
  .mb-screen .main-menu .user-name {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .main-content {
    padding: 0 64px 53px 64px;
    margin-top: 70px;
  }
  .main-content .title-content .title {
    font-size: 30px;
  }
  .main-content .blog-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }
  .main-content .blog-list .card:nth-child(4), .main-content .blog-list .card:nth-child(5), .main-content .blog-list .card:nth-child(6), .main-content .blog-list .card:nth-child(7), .main-content .blog-list .card:nth-child(8), .main-content .blog-list .card:nth-child(9) {
    display: none;
  }
  .main-content .pagination {
    margin-top: 67px;
  }
  .main-content .pagination ul {
    width: calc(100% - 4px);
    padding-inline-start: 0;
    gap: 0;
    justify-content: space-between;
  }
  .main-content .pagination ul li {
    width: 11.1111111111%;
    aspect-ratio: 1/1;
  }
  .main-content .pagination ul li .pagination-ele {
    width: 100%;
    height: 100%;
  }
  .main-content .pagination ul li .pagination-ele span {
    line-height: 0;
  }
  header .pc-screen {
    display: none;
  }
}

/*# sourceMappingURL=responsive.css.map */
