body {
  padding: 0;
  margin: 0;
}

.header {
  font-family: "Noto Sans JP";
  width: 100%;
}
.header .image-bg {
  width: 100%;
  position: relative;
  aspect-ratio: 2/1;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 122px;
  background-color: rgba(255, 255, 255, 0.628);
  top: 0;
  z-index: 666;
  transition: transform 0.3s ease-in-out;
}
.header .nav.scrolled {
  transform: translateY(-100%);
}
.header .nav .left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  width: 50%;
  margin-left: 102px;
}
.header .nav .left-nav .search-input {
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.header .nav .left-nav .search-input input {
  color: rgb(212, 209, 212);
  font-family: "Noto Sans JP";
  width: 100%;
  padding: 10px 32px 12px 19px;
  font-size: 15px;
  outline: none;
  border: 1px solid rgba(204, 204, 204, 0.4705882353);
  border-radius: 4px;
}
.header .nav .left-nav .search-input .search-icon {
  position: absolute;
  margin: 17px 15px 12px 0;
}
.header .nav .left-nav .search-input .search-icon:hover {
  background-color: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
  cursor: pointer;
}
.header .nav .right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 102px;
}
.header .nav .right-nav .blog-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}
.header .nav .right-nav .blog-area .btn {
  width: 51px;
  height: 31px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.header .nav .right-nav .blog-area .btn-top {
  font-family: "Noto Sans JP";
  color: white;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(119, 3, 3);
}
.header .nav .right-nav .blog-area a {
  text-decoration: none;
  color: black;
}
.header .nav .right-nav .blog-area a:hover {
  color: aliceblue;
}
.header .nav .right-nav .user-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}
.header .nav .right-nav .user-area .user.icon {
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../font/SVN-Gilroy Regular.otf");
}
@font-face {
  font-family: "SVN-Gilroy-Bold";
  src: url("../font/SVN-Gilroy Bold.otf");
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 0 102px 96px 102px;
  margin-top: 72px;
  min-height: 100vh;
}
.main-content .title-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}
.main-content .title-content .title {
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-size: 50px;
}
.main-content .title-content .select-blog {
  width: 144px;
  height: 40px;
  font-family: "Noto Sans JP";
  padding: 8px;
  outline: none;
}
.main-content .blog-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 70px;
}
.main-content .blog-list .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.main-content .blog-list .card .image-card {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.main-content .blog-list .card .image-card img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
}
.main-content .blog-list .card .image-card img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  filter: blur(1px);
  cursor: pointer;
}
.main-content .blog-list .card .content-card {
  display: flex;
  flex-direction: column;
  padding: 25px 13px 31px 20px;
  gap: 20px;
  border: 1px solid rgba(204, 204, 204, 0.4705882353);
  border-radius: 0 0 8px 8px;
  border-top: none;
  margin-top: -1px;
}
.main-content .blog-list .card .content-card .blog-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.main-content .blog-list .card .content-card .blog-info-items-left {
  display: flex;
  align-items: center;
  font-family: "SVN-Gilroy";
  gap: 4px;
}
.main-content .blog-list .card .content-card .blog-info-items-right {
  display: flex;
  align-items: center;
  font-family: "SVN-Gilroy";
  gap: 9px;
}
.main-content .blog-list .card .title-card {
  font-family: "SVN-Gilroy-Bold";
  font-weight: 600;
  font-size: 18px;
}
.main-content .blog-list .card .description-card {
  font-family: "SVN-Gilroy";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .blog-list .card .btn-read {
  font-family: "SVN-Gilroy";
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(204, 204, 204, 0.4705882353);
  color: rgb(182, 32, 32);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 9px;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out;
}
.main-content .blog-list .card .btn-read .arrow-vector {
  width: 19px;
}
.main-content .blog-list .card .btn-read:hover {
  background-color: rgb(95, 158, 160);
  color: white;
  border-color: black;
}
.main-content .pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.main-content .pagination ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0;
  margin: 0;
}
.main-content .pagination ul .pagination-ele {
  display: flex;
  flex-direction: column;
  font-family: "SVN-Gilroy-Bold";
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  height: 32px;
  width: 32px;
}
.main-content .pagination ul .pagination-ele:hover {
  background-color: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
  cursor: pointer;
}
.main-content .pagination ul .available-btn {
  color: white;
  background-color: rgb(196, 0, 0);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.main-content .pagination ul .available-btn:hover {
  background-color: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
  cursor: pointer;
}
.main-content .pagination ul .disable-btn {
  color: white;
  background-color: rgb(229, 229, 229);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.main-content .pagination ul .disable-btn:hover {
  cursor: not-allowed;
}

footer {
  font-family: "Noto Sans JP";
  height: 95px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .mb-screen {
    display: none;
  }
  .pc-screen {
    display: flex;
  }
  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
}
@media screen and (max-Width: 575px) {
  .mb-screen .nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;
    position: fixed;
    background-color: white;
    transition: transform 1s ease-in-out;
  }
  .mb-screen .nav.scrolled {
    transform: translateY(-100%);
  }
  .mb-screen .nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  .mb-screen .nav img {
    width: auto;
    max-width: 30%;
  }
  .mb-screen .image-bg-mb-screen {
    width: 100%;
    margin-top: 69px;
  }
  .mb-screen .menu-expand {
    background-color: white;
    position: fixed;
    gap: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    height: auto;
    z-index: 999;
    transition: 1s ease-in-out;
    transform: translateY(-200%);
  }
  .mb-screen .menu-expand.scrolled {
    transform: translateY(69px);
  }
  .mb-screen .menu-expand div {
    margin-left: 5.5%;
    height: 30px;
  }
  .mb-screen .menu-expand div a {
    text-decoration: none;
    color: #000;
  }
  .mb-screen .menu-expand div:hover {
    background-color: rgb(255, 228, 228);
    color: rgb(196, 0, 0);
    cursor: pointer;
  }
  .mb-screen .menu-expand .user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .mb-screen .main-menu {
    height: 300px;
    width: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: none !important;
  }
  .mb-screen .main-menu .main-menu-items {
    width: 100%;
    height: 30px;
    padding: 5px 0;
    text-align: center;
  }
  .mb-screen .main-menu .main-menu-items:hover {
    background-color: rgb(255, 228, 228);
    color: rgb(196, 0, 0);
    cursor: pointer;
  }
  .mb-screen .main-menu .main-menu-items a {
    text-decoration: none;
    color: #000;
  }
  .mb-screen .main-menu .user-name {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .main-content {
    padding: 0 64px 53px 64px;
    margin-top: 70px;
  }
  .main-content .title-content .title {
    font-size: 30px;
  }
  .main-content .blog-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }
  .main-content .blog-list .card:nth-child(4), .main-content .blog-list .card:nth-child(5), .main-content .blog-list .card:nth-child(6), .main-content .blog-list .card:nth-child(7), .main-content .blog-list .card:nth-child(8), .main-content .blog-list .card:nth-child(9) {
    display: none;
  }
  .main-content .pagination {
    margin-top: 67px;
  }
  .main-content .pagination ul {
    width: calc(100% - 4px);
    padding-inline-start: 0;
    gap: 0;
    justify-content: space-between;
  }
  .main-content .pagination ul li {
    width: 11.1111111111%;
    aspect-ratio: 1/1;
  }
  .main-content .pagination ul li .pagination-ele {
    width: 100%;
    height: 100%;
  }
  .main-content .pagination ul li .pagination-ele span {
    line-height: 0;
  }
  header .pc-screen {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
