@import "./mixin.scss";

body {
    padding: 0;
    margin: 0;
}
.header {
    font-family: 'Noto Sans JP';
    width: 100%;

    .image-bg {
        width: 100%;
        aspect-ratio: 4/1;
        position: relative;
    }

    .nav {
        @include rowFlex;
        position: absolute;
        width: 100%;
        height: 122px;
        background-color: rgba(255, 255, 255, 0.628);
        top: 0;

        .left-nav {
            @include rowFlexNotSpace;
            gap: 30px;
            width: 50%;
            margin-left: 102px;

            .search-input {
                width: 60%;
                position: relative;
                @include flexCenter;
                flex-direction: row-reverse;

                input {
                    width: 100%;
                    padding: 10px 32px 10px 16px;
                    font-size: 18px;
                    outline: none;
                    border: 1px solid #cccccc78;
                    border-radius: 4px;
                }

                .search-icon {
                    position: absolute;
                    margin-right: 12px;

                    &:hover {
                        @include hover;
                    }
                }
            }
        }

        .right-nav {
            @include rowFlex;
            width: 25%;
            margin-right: 102px;

            .blog-area {
                @include rowFlex;
                gap: 24px;

                .btn {
                    padding: 8px 12px;
                    outline: none;
                    cursor: pointer;
                    border: none;
                    border-radius: 4px;
                }

                .btn-top {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    background-color: rgb(119, 3, 3);
                }

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: aliceblue;
                    }
                }
            }

            .user-area {
                @include rowFlex;
                gap: 24px;

                .user.icon {
                    font-size: 28px;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }
}
