@import "./mixin.scss";
@import "./font.scss";

.main-content {
    @include columnFlex;
    padding: 0 102px 96px 102px;
    margin-top: 72px;
    min-height: 100vh;

    .title-content {
        @include rowFlex;

        .title{
            font-family: 'Noto Sans JP';
            font-weight: 600;
            font-size: 50px;
        }

        .select-blog {
            width: 144px;
            height: 40px;
            font-family: 'Noto Sans JP';
            padding: 8px;
            outline: none;
        }

        margin-bottom: 38px;
    }

    .blog-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 30px;
        row-gap: 70px;
        .card {
            @include columnFlex;
            width: 100%;
            overflow: hidden;
            border-radius: 8px;

            .image-card {
                max-width: 100%;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    height: calc(100%);

                    &:hover {
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                        filter: blur(1px);
                        cursor: pointer;
                    }
                }
            }

            .content-card {
                @include columnFlex;
                padding: 25px 13px 31px 20px;
                gap: 20px;
                border: 1px solid #cccccc78;
                border-radius: 0 0 8px 8px;
                border-top: none;
                margin-top: -1px;


                .blog-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                }

                .blog-info-items-left {
                    @include blogInfoItems;
                    gap: 4px;
                }

                .blog-info-items-right {
                    @include blogInfoItems;
                    gap: 9px;
                }
            }

            .title-card {
                font-family: 'SVN-Gilroy-Bold';
                font-weight: 600;
                font-size: 18px;
            }

            .description-card {
                font-family: 'SVN-Gilroy';
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .btn-read {
                font-family: 'SVN-Gilroy';
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid #cccccc78;
                color: rgb(182, 32, 32);
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                padding: 9px;

                .arrow-vector {
                    width: 19px;
                }

                &:hover {
                    @include hover;
                    color: white;
                    border-color: black;
                }
            }
        }
    }

    .pagination {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 0;
            margin: 0;

            .pagination-ele {
                @include columnFlex;
                font-family: 'SVN-Gilroy-Bold';
                width: 32px;
                height: 32px;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-weight: 700;
                font-size: 20px;
                @include buttonPaginationElement;

                &:hover {
                    @include hover;
                }
            }

            .available-btn {
                color: white;
                background-color: rgb(196, 0, 0, 1);
                border-radius: 50%;
                @include arrowButtonPagination;

                &:hover {
                    @include hover;
                }
            }

            .disable-btn {
                color: white;
                background-color: rgba(229, 229, 229, 1);
                border-radius: 50%;
                @include arrowButtonPagination;

                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
}
