@import "./mixin.scss";

@include minWidth(576px){
    .mb-screen {
        display: none;
    }

    .pc-screen {
        display: flex;
    }

    .blog-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
    }
}

@include maxWidth(575px) {
    .mb-screen {
        .nav {
            display: flex;
            justify-content: space-between;
            height: 69px;
            align-items: center;
            position: fixed;
            background-color: white;

            div {
                @include rowFlexNotSpace;
                justify-content: center;
                width: 15%;
            }

            img {
                width: auto;
                max-width: 30%;
            }
        }

        .image-bg-mb-screen {
            width: 100%;
            margin-top: 69px;
        }

        .menu-expand {
            background-color: white;
            position: fixed;
            gap: 12px;
            width: 100%;
            top: 69px;
            display: none;
            flex-direction: column;
            padding: 8px 0;
            height: auto;
            transition: all 2s;
            z-index: 999;

            div {
                margin-left: calc(5.5%);
                height: 30px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .user-name {
                @include rowFlexNotSpace;
                gap: 8px;
            }
        }

        .main-menu {
            height: 300px;
            width: 30%;
            position: absolute;
            @include columnFlex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            display: none !important;
            .main-menu-items {
                width: 100%;
                height: 30px;
                padding: 5px 0;
                text-align: center;

                &:hover {
                    @include hover;
                }

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .user-name {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }

    .main-content {
        padding: 0 64px 53px 64px;
        margin-top: 70px;

        .title-content {
            .title {
                font-size: 30px;
            }
        }

        .blog-list {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 24px;

            .card:nth-child(4), .card:nth-child(5), .card:nth-child(6), .card:nth-child(7), .card:nth-child(8), .card:nth-child(9) {
                display: none;
            }
        }

        .pagination {
            margin-top: 67px;
              ul{
                width: calc(100% - 4px);
                padding-inline-start: 0;
                gap: 0;
                justify-content: space-between;

                li {
                    width: calc(100% / 9);
                    aspect-ratio: 1 / 1;
                    .pagination-ele {
                        width: 100%;
                        height: 100%;

                        span {
                            line-height: 0;
                        }
                    }

                }
              }
        }
    }

    header {
        .pc-screen {
        display: none;
    }
    }
}
